body,
html{
	width:100%;
	height:100%;
}

body{
	font-size:16px;
	padding-top:95px;

	&.give-extra{
		padding-top:135px;
	}

	@include media-query(1200px){
		padding-top:97px;
	}

	@include media-query(350px){
		padding-top:83px;
	}
}

a,p{
	word-wrap:break-word;
}

.entry-content{
	margin-top:0;
}

.noScroll{
	overflow:hidden!important;
}

.generic-bg{
	display:table;
	background:url('../img/generic_bg.png') no-repeat;
	background-size:cover;
	background-position:center;
	height:280px;
	width:100%;

	h1{
		display:table-cell;
		vertical-align: middle;
		text-align:center;
		color:white;
		font-weight:300;
		padding-bottom:0;
		@include text-shadow(0 1px 1px rgb(70,70,70));

		&:after{
			content:none;
		}
	}

	&.search-bg{
		background-image:url('../img/search_bg.png');
	}
	&.events-bg{
		background-image:url('../img/events_bg.png');
	}
	&.projects-bg{
		background-image:url('../img/projects_bg.png');
	}
}

// Icons
.entry-header{
	span.glyphicon{
		color:cv(primary);
	}
}

// Align
.text-center{
	text-align: center;
}

// Formating tags
em{
	font-style:italic;
}

// Arrows
.left-arrow{
	position: relative;
    padding-left: 20px;
	&:before{
	    color: $light-text;
	    border-right: 2px solid $light-text;
	    border-bottom: 2px solid $light-text;
	    content: '';
	    position: absolute;
	    width: 10px;
	    height: 10px;

	    left: -2px;
	    top:7px;
	    @include rotate(-45deg);
	}

	& + .left-arrow{
		&:before{
			top:22px;
		}
	}
}

strong{
	font-weight:bold;
}

.table{
	display:table;
}

.table-cell{
	display:table-cell;
}