.banner{
	&__container{
		position:relative;
		width:100%;		

		.banner-img{
			@include media-query(1120px){
				display:none;
			}
		}
	}
	&__text{
		margin: auto;
	    position: absolute;
	    top: 0;
	    left: auto;
	    bottom: 0;
	    right: 0;
	    width: 50%;
	    height: 50%;
	    color:white;
	    @include text-shadow(2px 2px black);

	    @include media-query(1120px){
	    	position:static;
			width:100%;
			height:auto;
			left:0;
			padding:30px;
			background-size: cover;
		}

		@include media-query-min(1120px){
			background:none!important;
		}

		@include media-query(1120px){
			left:0;
			width:100%;
		}

		img{
			max-width:100px;
		}

	    h1{
	    	font-family: $text_font;
	    	&:after{
	    		content:none;
	    	}
	    	margin-bottom:30px;
	    	line-height:1.2;

	    	@include media-query(768px){
				@include font-size(24px);
			}
	    }

	    p{
	    	@include font-size(24px);
	    	line-height:1.5;
	    	margin-bottom:30px;

	    	@include media-query(768px){
				@include font-size(18px);
			}
	    }

		ul{
			li{
				display:inline-block;

				& + li{
					margin-left:30px;
				}
			}
		}
	}
}