// Colors
.color-primary{
	color: cv(primary);
}

.color-secondary{
	color: cv(secondary);
}

.color-tertiary{
	color: cv(tertiary);
}

// Background
.bg-primary{
	background-color: cv(primary);
}

.bg-secondary{
	background-color: cv(secondary);
}

.bg-tertiary{
	background-color: cv(tertiary);
}

// Text
.dark-text{
	color: $dark-text;
}

.light-text{
	color: $light-text;
}

// Menu
%menu-container{
	@include font-size(14px);
	font-family:$text_font;
}

%menu-text{
	color:$menu-text;	
}

.menu-text{
	color:$menu-text;
}

// Headings
%heading{
	color:$normal-text;
	line-height:1.2;
} 

h1{
	position:relative;
	padding-bottom:20px;
	font-family: $title_font;
	@include font-size(60px);	

	&:after{
		position:absolute;
		content:"";
		height:2px;
		width:100px;
		
		left:0;
		bottom:0;
		margin-left:0;
		background-color: cv(primary);		
	}

	&.align-center{
		text-align:center;

		&:after{
			left:50%;
			margin-left:-50px;
		}
	}

	@include media-query(768px){
		@include font-size(45px);
	}
}

h2{
	font-family: $text_font;
	@include font-size(45px);
	font-weight: 700;
	@extend %heading;

	@include media-query(768px){
		@include font-size(35px);
	}
}

h3,
.events h1.entry-title{
	font-family: $text_font;
	@include font-size(30px);
	font-weight: 700;
	@extend %heading;
	padding-bottom:0;

	@include media-query(768px){
		@include font-size(25px);
	}

	&:after{
		content:none;
	}
}

h4{
	font-family: $text_font;
	@include font-size(24px);
	font-weight: 700;
	padding-top:10px;
	margin-bottom:10px;
	@extend %heading;
	@include media-query(768px){
		@include font-size(20px);
	}

}

h5,
.widget h2,
.widget h3,
.archive-container h1.entry-title,
.archive-single h1.entry-title{
	font-family: $text_font;
	@include font-size(22px);
	font-weight: 600;
	@extend %heading;
	padding-bottom:0;
	
	@include media-query(768px){
		@include font-size(18px);
	}

	&:after{
		content:none;
	}
}

h5{
	margin-bottom:10px;
	padding-top:10px;
}

h6{
	font-family: $text_font;
	@include font-size(16px);
	font-weight: 600;
	@extend %heading;
	padding-top:10px;
	margin-bottom:10px;
}

p{
	font-family: $text_font;
	@include font-size(16px);
	line-height:2;
	margin-bottom:10px;
}

// Borders
.bottom-thin{
	border-bottom:1px solid cv(light-gray);
}

// Helpers
.fullwidth{
	width:100%;
}

.fullsection{
	height:100%!important;
}