.banner-section{
	
	position:relative;
	min-height:$banner-height;
	width:100%;
	img{
		width:100%;
	}

	.banner-box{
		width:100%;
		height:100%;
		background-color: cv(secondary);
		min-height:$banner-height;

		@include media-query(768px){
			min-height:$banner-small-height;
			padding-bottom:40px;
		}
	}

	@include media-query(768px){
		min-height:auto;
	}
}

.banner-box{
	.corporate{
		margin-top:120px;
		@include media-query(768px){
			margin-top:50px;
		}
		img{
			display:block;
			width:130px;
			height:130px;
			margin:0 auto;
		}
	
		h2{
			color:white;
			text-align:center;
			margin-top:30px;
			font-weight:400;
			margin-bottom:30px;

			@include media-query(768px){
				@include font-size(30px);
			}
		}

		p{
			font-family: $text_font;
			color:white;
			text-align:center;
			margin-top:10px;
			@include font-size(24px);
			line-height:1.5;
			@include media-query(768px){
				@include font-size(20px);
			}
		}

	}

	.medic-image{
		height:550px;
		position:relative;
		
		img{
			position:absolute;
			top:50%;
			left:15px;
			width:90%;
			@include translateY(-50%);
		}

		@include media-query(768px){
			display:none;
		}
	}
}

.no-csstransforms{
	.medic-image{
		img{
			top:25%!important;
		}
	}
}