.banner-section{
	overflow:hidden;
	position:relative;
	max-height:$banner-height;
	width:100%;
	text-align: center;
	img{
		width:100%;
	}

	.banner-box{
		width:100%;
		height:100%;
		background-color: cv(secondary);
		max-height:$banner-height;

		@include media-query(768px){
			max-height:none;
			padding-bottom:40px;
		}
	}

	@include media-query(768px){
		max-height:none;
	}
}

.banner-box{
	.corporate{
		margin-top:70px;
		
		img{
			display:block;
			width:130px;
			height:130px;
			margin:0 auto;
		}
	
		h2{
			color:white;
			text-align:center;
			margin-top:30px;
			font-weight:400;
			margin-bottom:30px;

			@include media-query(1000px){
				@include font-size(26px);
				font-weight:500;
			}

		}

		p{
			font-family: $text_font;
			color:white;
			text-align:center;
			margin-top:10px;
			@include font-size(22px);
			line-height:1.5;

			@include media-query(1000px){
				@include font-size(18px);
			}

		}

		@include media-query(768px){
			margin-top:50px;
		}

	}

	.medic-image{
		height:$banner-height;
		position:relative;
		
		img{
			position:absolute;
			top:50%;
			left:15px;
			width:90%;
			@include translateY(-50%);
		}

		@include media-query(768px){
			display:none;
		}
	}
}

.no-csstransforms{
	.medic-image{
		img{
			top:25%!important;
		}
	}
}