.about-desc{
	/*text-align:center;*/
	font-family:$text_font;
	padding:80px 0;
	@include font-size(16px);
	line-height:2;

	p{
		line-height:2;
	}

	h1,h2,h3,h4,h5,h6{
		color:cv(primary);
	}

	hr{
		width:10%;
		text-align:center;
		border-width: 2px; 
		border-color:cv(light-gray);
	}
}