.post-img{
	margin-top:20px;
	max-height: 500px;
    overflow: hidden;
	a{
		display:block;
		@include transition(all 0.2s ease);
		&:hover{
			@include opacity(0.5);
		}
	}
	img{
		width:100%;
		height:auto;
	}
}

.archive-container{
	padding-top:30px;
	padding-bottom:30px;

	article{
		margin-top:30px;
	}

	// Date container
	.date-container{
		background-color:cv(tertiary);
		padding:20px 10px;
		color:white;
		font-family:$text_font;
		text-align:center;

		& > div + div{
			margin-top:10px;
		}

		.post-day{
			@include font-size(30px);

			@include media-query(450px){
				@include font-size(22px);
			}
		}
		.post-month{
			@include font-size(12px);
			@include media-query(450px){
				@include font-size(11px);
			}
		}
		.post-year{
			@include font-size(18px);
			@include media-query(450px){
				@include font-size(14px);
			}
		}
	}

	// Single post on a posts list
	.article-single-container{		
		background-color:white;

		.post-img{
			overflow:hidden;
			margin-top:0;

			a{
				background-repeat:no-repeat;
				background-position: center;
				background-size:cover;
				height:250px;
			}
		}

		.article-text{
			padding:20px;
			.entry-title{
				margin-bottom:15px;
				a{
					color:$dark-text;
				}
			}		
			

			p{
				color:$dark-text;
				@include font-size(14px);
				line-height:2;
			}
			
			.moretag{
				margin-top:20px;
			}
		}
	}
}

.categories-container{
	margin-bottom:10px;
	a{
		margin-bottom:10px;
		margin-right:10px;
	}
}

// Post details
.generic-single-post{
	padding:20px;	
	margin-top:30px;
}

.specific-single-post{
	margin-top:20px;
	&.dark-bg{
		padding:20px;
	}
}

.generic-single-post,
.specific-single-post{
	background-color:white;		
	margin-bottom:30px;

	h5{
		color:$dark-text;
	}

	time,
	.event-place,
	.proj-types{
		display:block;
		font-family: $text_font;
		color:$dark-text;
		@include font-size(14px);
		margin-top:10px;
	}	

	p{
		color:$dark-text;
		@include font-size(14px);
		line-height:2;
	}

	.entry-header{
		font-family: $text_font;
		color:$dark-text;
		margin-bottom:15px;
	}

	img{
		max-width:100%;
		height:auto;
	}
}

.dark-bg{
	background-color:cv(light-light-gray);

	.article-single-container,
	.generic-single-post{
		border:1px solid cv(light-gray);
	}
	
}

.generic-page{
	margin-top:30px;
	margin-bottom:30px;
}

// Lists
.entry-content{
	ol, ul:not(.post-attached-media){
		font-family:$text_font;
		padding-left:25px;
		color:$dark-text;
		@include font-size(14px);
		line-height:2;
		margin-bottom:15px;
		
	}

	ol{
		list-style:decimal;
	}

	ul:not(.post-attached-media){
		list-style:initial;
	}

}

.sharify-container{
	ul{
		padding-left:0!important;
	}
}

// No data
.no-results{
	margin-top:30px;
	margin-bottom:60px;
}
