.services-section{
	margin:70px 0;
	text-align:center;

	h1{
		margin-bottom:60px;
	}

	.row{
		& > article{
			@include media-query(980px){
				margin-bottom:40px;
			}
		}
	}

	img{
		max-width:70px;
	}

	.serv-img-wrapper{
		display:inline-block;
		border:5px solid cv(primary);
		padding:25px;
		@include border-radius(100%);
		margin-bottom:30px;

		width:$services-box;
		height:$services-box;
	}

	h6{
		margin-bottom:0;
		position:relative;
		padding-bottom:30px;
		&:after{
			content:"";
			height:3px;
			width:50px;
			position:absolute;
			bottom:0;
			left:50%;
			margin-left:-25px;
			background-color:cv(light-gray);
		}
	}

	p{
		@include font-size(14px);
	}
}