aside{
	.widget-area,
	.widget,
	&.widget{
		margin-top:30px;
	}

	.widget{
		background-color:white;
		padding:0;		

		.widget-title + *{
			margin-top:30px;
		}

		// With LISTS
		li{			
			list-style: none;
			font-family:$text_font;
			line-height:1.5;

			& + li{
				border-top:1px solid cv(light-gray);
				padding-top:15px;
				margin-top:15px;
			}

			a{
				color:cv(primary);
			}
		}

		ul.children{
			margin-top:15px;
			padding-left:30px;
		}
	}

	.widget,
	&.widget{				

		@include media-query-min(992px){
			padding-left:20px;
			border-left:1px solid cv(light-gray);
		}
	}
}

.dark-bg{
	.widget{		
		padding:20px;
		border:1px solid cv(light-gray);		
	}
}